$icon-font: 1.3em;
$element-height: 2.4em;

.header{
    max-width: 100%;
    box-shadow: 5px 5px 20px gray;
  }
  
  .header-row div{
    display: inline-block;
  }
  .brand{
    color: white;
    margin-left: 2%;
    padding: 0.8em;
    width: 23%;
    text-decoration: none;
  }
  
  .inp-container {
    border-radius: 8px;
  }
  .inp-container input {
    display: inline-block;
    width: 75%;
    height: $element-height;
    border-radius: 0;
  }
  
  .inp-container button{
    width: 10%;
    border: none;
    background: #dadada;
    height: $element-height;
    border-radius: 0 8px 8px 0;
  }
  
  .dropdown{
    width: 15%;
    border-radius: 8px 0 0 8px;
  }
  
  .select-btn {
    height: $element-height;
    border: none;
    background-color: #dadada;
    border-radius: 8px 0 0 8px;
  }
  
  .login-container{
    width: 15%;
    color: white;
    text-align: right;
    margin: 1.7em 0.2em 0 0;
  }
  .login-container a{
    h5, i{
      display: inline-block;
    }
  } 
  
  .login-container a{
    text-decoration: none;
    color: white;
  }
  .user-icon {
    margin-left: 0.4em;
    padding: 0.2em;
    font-size: $icon-font;
  }
  
  .cart-wishlist{
    width: 7%;
    margin-top: 1.7em;
    margin-left: 1em;
  }
  
  .cart-wishlist .list-icon{
     color: white;
     font-size: $icon-font;
     list-style-type: none;
     display: inline-block;
     margin-right: 0.5em;
  }

.list-icon {
  .cart-item-count {
    border-radius: 50%;
    background-color: gold;
    position: absolute;
    height: 1em;
    width: 1em;
    left: 95.3%;
    top: 2.4%;
    text-align: center;
    line-height: 90%;

    p{
      font-size: 0.8em;
      font-weight: 600;
      color: black;
    }
  }
}


//mobile veiw

.mb-container {
  padding: 1em;
}
.input-mb-container {
  margin: auto;
  border-radius: 8px;

  input {
    display: inline-block;
    width: 60%;
    border-radius: 0;
  }

  .mb-dropdown {
    width: 25%;
    border-radius: 8px 0 0 8px;
  }
  button{
    width: 15%;
    border: none;
    background: #dadada;
    height: $element-height;
    border-radius: 0 8px 8px 0;
  }
}
.mb-header-row {
  color: white;
  padding: 0.5em;
  .row-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .mb-brand {
      text-decoration: none;
    }
    .mb-login {
      display: flex;
      a{
        color: white;
        text-decoration: none;

        h5 ,i {
          display: inline-block;
        }
      }
    }
    .mb-cart-wishlist {
      ul{
        display: flex;
        align-items: center;
        margin-top: 0.7em;
        gap: 1em;

        li {
          list-style: none;
          i{
            color: white
          }
        }
      }
    }
  }
}

.b-list-icon {
  .cart-item-count {
    border-radius: 50%;
    background-color: gold;
    position: absolute;
    height: 1em;
    width: 1em;
    left: 88.4%;
    top: 1%;
    text-align: center;
    line-height: 90%;

    p{
      font-size: 0.8em;
      font-weight: 600;
      color: black;
    }
  }
}
@media screen and (width <= 500px) {
  .b-list-icon{
    .cart-item-count{
      left: 90.5%;
      top: 1.4%;
    }
  }
}

